.shapeimg {
    width: 200px;
    border: 1px solid #55288E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

.btn {
    width: 207px;
height: 57px;
left: 88px;
top: 603px;
color: #E4D379;
border: 1px solid #55288E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

