@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: #E8E1C5;
  color: #000;
}

.container {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}

.btn {
  color: white !important;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}

.btn {
  color: white !important;
  text-decoration: none;
}

.btnContainer {
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left-arrow {
  font-size: 3rem;
  color: #51bd96;
}

/* Body Part Game */
.svg-boy {
  position: relative;
  width: 560px;
  height: 850px;
}

.svg-overlay {
  position: absolute;
  width: 560px;
  height: 850px;
}

.svg-click {
  fill: transparent;
  cursor: pointer;
}

.svg-click:hover {
  stroke: blue;
  stroke-width: 0.5rem;
  opacity: 0.5;
}

/* Body Part Game modal */
.overlay {
  position: fixed;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.content {
  margin: 15% auto;
  background-color: white;
  border-radius: 0.25rem;
  width: 60vw;
  padding: 2rem;
  position: relative;
  text-align: center;
}

.close {
  display: flex;
  margin-left: auto;
  font-size: 40px;
  cursor: pointer;
}

/* Finish Game */
.confetti {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.finish-overlay {
  position: fixed;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.modal-btn {
  border-radius: 40px;
  padding: 1rem 2rem;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  background-color: #000;
}

/* Css for ReusableButton */
.reuse-btn{
  box-sizing: border-box;
  margin: 10px;
  width: 192px;
  height: 63px;
  background: #E4D379;
  border: 1px solid #55288E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.reuse-btn:hover {
  background-color: #d5c88b;
}

/* Css for the close button */
.closebtn {
  margin-right: 20px;
  font-size: 1.5rem;
}

/* css for close button container */
.closebtn-container {
  display: flex;
  justify-content: flex-end;
}

/* css for logout and setting icon */
.logout {
  font-size: 4rem;
  color: #164B8A;
  margin: 0 3rem 2rem 3rem;
  cursor: pointer;
}

.logout:hover {
  color: #55288E;
}

/* logout and setting */
.settings {
  display: flex;
  justify-content: space-between;
}

/* css for the links in menu and Endgame*/
.menulink{
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}

.menulink:hover{
  color: #000;
}

/* Endgame badge*/
.badge{
  margin: 50px;
}

.link {
  text-decoration: none;
  color: #164B8A;
}

.speech-btn {
  border: none;
  background-color: transparent;
  padding: 0 2rem;
}

.speech-btn-icon {
  fill: #164B8A;
  font-size: 2.5rem;
}
.custom-card {
  border: none !important; 
  background-color: #E8E1C5 !important;
}

/*the images in shapegame*/
.shapeimg {
  width: 200px;
  border: 1px solid #55288E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

/* title on top of pages */
.greeting {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 5px;
  /* or 136% */
  text-align: center;
  letter-spacing: 4px;
  color: #164B8A;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 6rem;
  /* or 143% */
  text-align: center;
  letter-spacing: 2px;
  color: #164B8A;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.shgm-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}