@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* generic styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: #E8E1C5;
  color: #000;
  max-width: 100%;
}

h1 {
  font-family: 'Luckiest Guy';
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;
  /* or 125% */
  text-align: center;
  letter-spacing: 2px;
  color: #164B8A;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
  font-family: 'Luckiest Guy';
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  /* or 125% */
  text-align: center;
  letter-spacing: 2px;
  color: #164B8A;
}

.container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}

/* HEADER */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 13rem;
  max-width: 100%;
  position: relative;
}

.home-header {
  background-image: url("./components/image/homeShape.webp");
  background-repeat: no-repeat;
  height: 20rem;
  max-width: 100%;
  background-size: contain;
}

.btnContainer {
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* LOGIN AND REGISTER */
.reg-header {
  background-image: url("./components/image/regShape.webp");
  background-repeat: no-repeat;
  height: 15rem;
  background-size: cover;
}

.login-header {
  background-image: url("./components/image/loginShape.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 15rem;
}

.lg-btn{
  margin: 1rem;
  background: #E4D379;
  border: 1px solid #55288E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 1rem;
  font-family: 'Luckiest Guy';
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 2px;
  color: #164B8A;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sm-btn {
  margin: 1rem;
  background: #E4D379;
  border: 1px solid #55288E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 1rem;
  font-family: 'Luckiest Guy';
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  color: #164B8A;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lg-btn:disabled,
.sm-btn:disabled {
  opacity: 0.5;
}

.to-login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("./components/image/mouse.webp");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  width: 100%;
}

.to-reg-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("./components/image/butterfly.webp");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  width: 100%;
}

.custom-card {
  border: none !important; 
  background-color: #E8E1C5 !important;
  text-align: center;
}

/* .btn {
  color: white !important;
  text-decoration: none;
} */

.left-arrow {
  font-size: 3rem;
  color: #51bd96;
  margin: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}

/* BODY PART GAME */
.svg-boy {
  position: relative;
  width: 400px;
  height: 600px;
}

.svg-boy-overlay {
  position: absolute;
  width: 400px;
  height: 600px;
}

.svg-click {
  cursor: pointer;
  fill: transparent;
}

.svg-click:hover {
  stroke: blue;
  stroke-width: 0.5rem;
  opacity: 0.5;
}

/* FACE PART GAME */
.svg-girl {
  position: relative;
  width: 380px;
  height: 400px;
}

.svg-girl-overlay {
  position: absolute;
  width: 380px;
  height: 400px;
}

/* BODY/FACE PART GAME MODAL */
.overlay {
  position: fixed;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.content {
  margin: 30% auto;
  background-color: white;
  border-radius: 0.25rem;
  width: 70%;
  padding: 2rem;
  position: relative;
  text-align: center;
}

.close {
  display: flex;
  margin-left: auto;
  font-size: 40px;
  cursor: pointer;
}

/* TEXT TO SPEECH BUTTONS */
.speech-btn {
  border: none;
  background-color: transparent;
  padding: 0 2rem;
}

.speech-btn-icon {
  fill: #164B8A;
  font-size: 2.5rem;
}

/* FINISH GAME */
.confetti {
  position: absolute;
  height: 100vh;
  width: 100%;
}

.finish-overlay {
  position: fixed;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.modal-btn {
  border-radius: 40px;
  padding: 1rem 2rem;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  background-color: #000;
}

.btn-text {
  font-size: 20px;
  margin: auto;
}

/* Css for ReusableButton */
.reuse-btn{
  box-sizing: border-box;
  margin: 10px;
  width: 192px;
  height: 63px;
  background: #E4D379;
  border: 1px solid #55288E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-family: 'Luckiest Guy';
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 2px;
  color: #164B8A;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.reuse-btn:hover {
  background-color: #d5c88b;
}

/* CLOSE BUTTON */
.closebtn {
  font-size: 1.5rem;
}

.closebtn-container {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  margin: 1.5rem;
}

/* LOGOUT AND SETTINGS ICON */
.logout {
  font-size: 3rem;
  color: #164B8A;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 2rem;
}

.logout:hover {
  color: #55288E;
}

.settings {
  font-size: 3rem;
  color: #164B8A;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem;
}

.settings:hover {
  color: #55288E;
}

.logout-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* css for the links in menu and Endgame*/
.menulink{
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}

.menulink:hover{
  color: #000;
}

/* MAIN MENU */
.menu-btn {
  box-sizing: border-box;
  margin: 10px;
  width: 340px;
  height: 63px;
  background: #E4D379;
  border: 1px solid #55288E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-family: 'Luckiest Guy';
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 2px;
  color: #164B8A;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-btn:hover {
  background-color: #d5c88b;
}

.menu-container {
  max-width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Endgame badge*/
.badge{
  margin: 50px;
}

.link {
  text-decoration: none;
  color: #164B8A;
}

/*the images in shapegame*/
.shapeimg {
  width: 200px;
  border: 1px solid #55288E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

/* GREETING */
.greeting {
  font-family: 'Luckiest Guy';
  font-weight: 400;
  font-size: 2rem;
  line-height: 5px;
  /* or 136% */
  text-align: center;
  letter-spacing: 4px;
  color: #164B8A;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.greeting-container {
  max-width: 100%;
}

.title {
  font-family: 'Luckiest Guy';
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 6rem;
  /* or 143% */
  text-align: center;
  letter-spacing: 2px;
  color: #164B8A;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* OFF CANVAS */
.offcanvas {
  border-radius: 20px;
}

.setting-btn {
  margin: 1rem;
  width: 250px;
  background: #E4D379;
  border: 1px solid #55288E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-family: 'Luckiest Guy';
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 2px;
  color: #164B8A;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}