@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: #000;
  color: #fff;
}

.container {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  color: white !important;
  text-decoration: none;
}

.btnContainer {
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.svg-boy {
  position: relative;
  width: 560px;
  height: 850px;
}

.svg-overlay {
  position: absolute;
  width: 560px;
  height: 850px;
}

.svg-click {
  fill: transparent;
  cursor: pointer;
}

.svg-click:hover {
  stroke: blue;
  stroke-width: 0.5rem;
  opacity: 0.5;
}

.overlay {
  position: fixed;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.content {
  margin: 15% auto;
  background-color: white;
  border-radius: 0.25rem;
  width: 40vw;
  padding: 2rem;
  position: relative;
  text-align: center;
}

.close {
  display: flex;
  margin-left: auto;
  font-size: 40px;
  cursor: pointer;
}